  
{{> header }}

    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Pedro Infante</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ipsum amet? Veniam accusantium cupiditate asperiores ad, quia tempora obcaecati minus! Numquam, perspiciatis sunt. Nihil, aliquid rerum. Aliquid inventore est itaque.
            </p>
        </div>

        
        <div class="col-4">
            <img src="assets/img/descarga.jpg" class="img-thumbnail"
        </div>

    </div>

{{> footer }}
        